@import 'colors';

footer {
  padding: 60px;
  background-color: black;
  text-align: center;

  .github-repo {

    margin-bottom: 30px;

    a {
      text-decoration: none;
      color: $medium;
    }

  }

  .github-profile {

    a {
      text-decoration: none;
      color: $medium;
    }

  }
}