//Colors
$primary: #002772;
$secondary: #2660cf;
$tertiary: #3aaef4;
$success: #5dd3d5;
$warning: #f7ed64;
$danger: #df5d84;
$dark: #222428;
$medium: #92949c; 
$light: #f4f5f8;
$transparent: #00000000;

//Gradients
$background-gradient: linear-gradient(180deg, rgba(0,40,115,1) 0%, rgba(39,97,209,1) 100%);