@import 'colors';

.transparent-nav {
  background-color: $transparent;
  height: 60px;
  padding-top: 30px;
  z-index: 99;
  display: flex;
  justify-content: space-around;

  //Navbar links
  a {
    margin-top: 6px;
    text-decoration: none;
    color: $light;
  }
}