.transparent-nav {
  background-color: #00000000;
  height: 60px;
  padding-top: 30px;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.transparent-nav a {
  margin-top: 6px;
  text-decoration: none;
  color: #f4f5f8;
}

.hero-section {
  background-color: #00000000;
  height: calc(100vh - 290px);
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.hero-section .hero-text {
  color: #f4f5f8;
  margin-left: 40px;
}

.hero-section .hero-image {
  max-width: 600px;
  max-height: 600px;
  margin-left: -200px;
}

.particles {
  position: absolute;
  z-index: -1;
  top: 0;
}

.app-info {
  background-color: #222428;
  -webkit-box-shadow: 0px 10px 50px 0px black;
          box-shadow: 0px 10px 50px 0px black;
  text-align: center;
  background-image: url("../images/pattern.png");
}

.app-info .description {
  padding: 60px;
}

.app-info .video-wrap {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

.app-info .video-wrap .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.app-info .features-title {
  font-size: 55px;
  padding-bottom: 60px;
  color: #3aaef4;
}

.app-info .features-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 60px;
}

.app-info .features-1 p {
  margin-top: 175px;
  margin-bottom: 195px;
  background-color: #2660cf;
  border-radius: 5px;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  .app-info .features-1 p {
    font-size: 40px;
    margin: 40px;
    margin-top: 375px;
    margin-bottom: 395px;
  }
}

.app-info .features-1 img {
  max-width: 200px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 30px -5px black;
          box-shadow: 0px 0px 30px -5px black;
}

@media only screen and (min-width: 768px) {
  .app-info .features-1 img {
    max-width: 400px;
  }
}

.app-info .features-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 60px;
}

.app-info .features-2 p {
  margin-top: 175px;
  margin-bottom: 195px;
  background-color: #2660cf;
  border-radius: 5px;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  .app-info .features-2 p {
    font-size: 40px;
    margin: 40px;
    margin-top: 375px;
    margin-bottom: 395px;
  }
}

.app-info .features-2 img {
  max-width: 200px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 30px -5px black;
          box-shadow: 0px 0px 30px -5px black;
}

@media only screen and (min-width: 768px) {
  .app-info .features-2 img {
    max-width: 400px;
  }
}

.app-info .ui-sounds {
  padding-bottom: 60px;
}

.app-info .ui-sounds p {
  margin-left: 20vw;
  margin-right: 20vw;
  background-color: #2660cf;
  border-radius: 5px;
  padding: 10px;
}

.app-info .ui-sounds ion-icon {
  font-size: 200px;
}

.app-info .ui-sounds ion-icon:active {
  -webkit-animation: heartbeat 1s ease-in-out both;
          animation: heartbeat 1s ease-in-out both;
  /* ----------------------------------------------
      * Generated by Animista on 2021-6-21 1:19:1
      * Licensed under FreeBSD License.
      * See http://animista.net/license for more info. 
      * w: http://animista.net, t: @cssanimista
      * ---------------------------------------------- */
  /**
      * ----------------------------------------
      * animation heartbeat
      * ----------------------------------------
      */
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

footer {
  padding: 60px;
  background-color: black;
  text-align: center;
}

footer .github-repo {
  margin-bottom: 30px;
}

footer .github-repo a {
  text-decoration: none;
  color: #92949c;
}

footer .github-profile a {
  text-decoration: none;
  color: #92949c;
}

* {
  font-family: 'Ubuntu', sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background: #002772;
  background: -webkit-gradient(linear, left top, left bottom, from(#002772), to(#2660cf));
  background: linear-gradient(180deg, #002772 0%, #2660cf 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #f4f5f8;
}

html {
  scroll-behavior: smooth;
}
/*# sourceMappingURL=main.css.map */