@import 'colors';
@import 'navbar';
@import 'hero';
@import 'particles';
@import 'appInfo';
@import 'about';

* {
  font-family: 'Ubuntu', sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background: $primary;
  background: $background-gradient; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $light;
}

html {
  scroll-behavior: smooth;
}